@page
@model ProductoModel





<div class="container-search">
    <a class="back" href="Dashboard">
        <img class="img_back" src="https://img.icons8.com/ios-filled/50/000000/back.png" />Bodega
    </a>
    
        <div class="demo">
            <form class="form-search">
                <div class="input-group">
                    <input class="form-control form-text" maxlength="80" placeholder="Buscar" size="15" type="text" />

                </div>
            </form>
        </div>
        <div class="button-search">
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
                Crear Bodega
            </button>
        </div>
</div>


<table class="table table-responsive table-bordered ">
    <thead class="text-center">
        <tr class="titulo">
            
            <th>Nombre Producto</th>
            <th>Valor</th>
            <th>Fecha vencimiento</th>
            <th>Marca</th>
            <th>Categoria</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody class="text-center">
        <tr>
            <td>123141351</td>
            <td>Daniel</td>
            <td>Cr.32 No 32-45</td>
            <td>3135759143</td>
            <td>verdde3991@gmail.com</td>
            
            <td class="text-center">
                <i class="far fa-edit fa-2x"></i> <i class="fas fa-trash-alt fa-2x"></i>
            </td>
        </tr>
        <tr>
            <td>123141351</td>
            <td>Daniel</td>
            <td>Cr.32 No 32-45</td>
            <td>3135759143</td>
            <td>verdde3991@gmail.com</td>
            
            <td class="text-center">
                <i class="far fa-edit fa-2x"></i> <i class="fas fa-trash-alt fa-2x"></i>
            </td>
        </tr>
        <tr>
           <td>123141351</td>
            <td>Daniel</td>
            <td>Cr.32 No 32-45</td>
            <td>3135759143</td>
            <td>verdde3991@gmail.com</td>
            
            <td class="text-center">
                <i class="far fa-edit fa-2x"></i> <i class="fas fa-trash-alt fa-2x"></i>
            </td>
        </tr>
    </tbody>
</table>

<nav aria-label="Page navigation example">
    <ul class="pagination">
        <li class="page-item">
            <a class="page-link" href="#" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
                <span class="sr-only">Previous</span>
            </a>
        </li>
        <li class="page-item"><a class="page-link" href="#">1</a></li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item">
            <a class="page-link" href="#" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
                <span class="sr-only">Next</span>
            </a>
        </li>
    </ul>
</nav>

<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Crear Proveedor</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="Nombre_Producto">Nombre Productor</label>
                        <input type="text" class="form-control" id="nombre_producto" placeholder="Nombre Productor">
                    </div>
                    <div class="form-group">
                        <label for="Valor">Valor</label>
                        <input type="text" class="form-control" id="valor" placeholder="Valor">
                    </div>
                    <div class="form-group">
                        <label for="Fecha_vencimiento">Fecha vencimiento</label>
                        <input type="text" class="form-control" id="fecha_ven" placeholder="Direccion">
                    </div>
                    <div class="form-group">
                        <label for="Marca">Marca</label>
                        <input type="tex" class="form-control" id="marca" placeholder="Marca">
                    </div>
                    <div class="form-group">
                        <label for="categoria">Categoria</label>
                        <input type="text" class="form-control" id="categoria" placeholder="categoria">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary">Crear proveedor</button>
            </div>
        </div>
    </div>
</div>
