@page
@model IndexModel

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <form onsubmit="event.preventDefault()" class="box">
                    <h2>Bienvenido de vuelta</h2>
                    <p class="text-muted"> Ingrese sus credenciales para acceder al sistema de inventario <span>Falcon.</span></p>
                    <div class="user">
                        <input type="text" name="" placeholder="Usuario">
                        <i class="far fa-user"></i>
                    </div>
                    <div class="password">
                        <input type="password" name="" placeholder="Contraseña">
                        <i class="fas fa-unlock-alt"></i>
                    <div>
                    <input type="submit" name="" value="Iniciar Sesión">
                </form>
            </div>
        </div>
    </div>
</div>

