@page
@model IndexModel

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <form onsubmit="event.preventDefault()" class="box">
                    <h2>Bienvenido de vuelta</h2>
                    <p class="text-muted"> Ingrese sus credenciales para acceder al sistema de inventario <span>Falcon.</span></p>
                    <div class="user">
                        <input type="text" name="" placeholder="Usuario">
                    </div>
                    <div class="password">
                        <input type="password" name="" placeholder="Contraseña">
                    <div>
                     <a asp-page="/Dashboard" class="btn btn-primary">Iniciar Sesión</a>
                </form>
            </div>
        </div>
    </div>
</div>

