@page
@model FalconInventorySystem.App.Frontend.Pages.OrdenCompraItemDeleteModel

<div class="container-delete">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">Eliminar Item</h5>
        </div>
        <div class="modal-body-edit">
            <form method="post">
                <input type="hidden" asp-for="PurchaseOrderItem.Id" />
                <input type="hidden" asp-for="PurchaseOrderItem.PurchaseOrderId" />
                <div class="form-confirm">
                    <label for="confirmacion">
                        ¿Esta seguro que desea eliminar el item
                        @Model.PurchaseOrderItem.Id?
                    </label>
                </div>

                <div class="modal-footer">
                    <a asp-page="/OrdenCompraDetails" asp-route-PurchaseOrderId="@Model.PurchaseOrderItem.PurchaseOrderId" class="btn btn-secondary">Cancelar</a>
                    <button type="submit" class="btn btn-primary">Si, estoy seguro</button>
                </div>
            </form>
        </div>
    </div>
</div>
