@page
@model FalnconInventorySystem.App.Frontend.Pages.OrdenCompraDeleteModel

<div class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Eliminar Orden de compra</h5>
    </div>
    <div class="modal-body-edit">
        <form method="post">
            <input type="hidden" asp-for="PurchaseOrder.Id" />
            <div class="form-confirm">
                <label for="confirmacion">¿Esta seguro que desea eliminar la orden de compra con ID @Model.PurchaseOrder.Id?</label>
            </div>
           
            <div class="modal-footer">
                <a asp-page="/OrdenCompra" class="btn btn-secondary">Cancelar</a>
                <button type="submit" class="btn btn-primary">Si, estoy seguro</button>
            </div>
        </form>
    </div>
</div>
