html {
  position: relative;
  min-height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: ghostwhite;
}

.card {
  margin-bottom: 20px;
  border: none
}

.box {
  width: 500px;
  padding: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  transition: 0.25s;
  margin-top: 100px;
  box-shadow:  1px 5px 10px 	#00000029;
}

.box input[type="text"],
.box input[type="password"] {
  border: 0;
  background: none;
  display: block;
  margin: 20px auto;
  padding: 8px 30px;
  text-align: left;
  box-shadow:  1px 5px 10px#00000029;
  border-width: 0.5px;
  border-color: #ecefeb;
  border-style: solid;
  width: 350px;
  outline: none;
  color: black;
  border-radius: 10px;
}

/* Icons FontAwesome for login */

.user {
  position: relative;
}

.user i{
  position: absolute;
  left: 45px;
  top: 12px;
  color: #0F1055;
}

.password {
  position: relative;
}

.password i{
  position: absolute;
  left: 45px;
  top: 12px;
  color: #0F1055;
}

.box h2 {
  color: #0F1055;
  font-size: 20px;
}

.text-muted span{
  color:#0F1055;
}


.box input[type="submit"] {
  border: 0;
  background: #0F1055;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #0F1055;
  padding: 5px 40px;
  outline: none;
  color: white;
  border-radius: 10px;
  cursor: pointer;
  width: 350px;
}


.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}
