html {
  position: relative;
  min-height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #f1f1f1;
  text-align: center;
}

.card:hover {
  margin-bottom: 20px;
  border: none;
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid #e3e6f0;
  border-radius: 0.35rem;
  box-shadow: 1px 5px 10px#00000029;
  cursor: pointer;
}

.box {
  width: 500px;
  padding: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  transition: 0.25s;
  margin-top: 100px;
  box-shadow: 1px 5px 10px #00000029;
  background-color: #ffffff;
}

.box input[type="text"],
.box input[type="password"] {
  border: 0;
  background: none;
  display: block;
  margin: 20px auto;
  padding: 18px 30px;
  text-align: left;
  box-shadow: 1px 5px 10px#00000029;
  border-width: 0.5px;
  border-color: #ecefeb;
  border-style: solid;
  width: 350px;
  outline: none;
  color: black;
  border-radius: 10px;
}

/* Icons FontAwesome for login */

.user {
  position: relative;
}

.user i {
  position: absolute;
  left: 45px;
  top: 12px;
  color: #0f1055;
}

.password {
  position: relative;
}

.password i {
  position: absolute;
  left: 45px;
  top: 12px;
  color: #0f1055;
}

.box h2 {
  color: #0f1055;
  font-size: 20px;
}

.text-muted span {
  color: #0f1055;
}

.box input[type="submit"] {
  border: 0;
  background: #0f1055;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #0f1055;
  padding: 0px 40px;
  outline: none;
  color: white;
  border-radius: 10px;
  cursor: pointer;
  width: 350px;

  height: 30px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}

/*style dashboard */
.card-body {
  padding: 50px 50px 50px 50px;
}

.h1,
h1 {
  color: #0f1055;
  font-size: 40px;
  border-radius: nullpx;
}

h1 {
  margin-top: 100px;
}

.col {
  text-align: center;
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 300;
}

.container-fluid,
h3 {
  text-align: left;
  margin-top: 100px;
}

.text-xs {
  color: #0f1055;
}
/*style tabla provvedor */
table {
  margin-top: 50px;
  margin: center;
  border: solid #000;
  background-color: #fff;
}
th,
td {
  width: 25%;
  text-align: left;
  vertical-align: top;
  border: 1px solid #000;
  color: #0f1055;
}
.titulo {
  background-color: #a1a1ae;
}

.search1 {
  margin-top: 100px;
  margin-right: 10px;
  margin-left: 350px;
  width: 150px;
  height: 35px;
  border-radius: 10px;
}

.AddProveedor {
  background: #0f1055;
  text-align: center;
  border: 2px solid #0f1055;
  outline: none;
  color: white;
  border-radius: 10px;
  cursor: pointer;
  width: 150px;
  margin-left: 350px;
  height: 35px;
}

.AddProveedor:active {
  box-shadow: 1px 5px 10px #000;
}

button,
input {
  width: 20px;
  height: 20px;
  margin-right: 5px;
  margin-left: 10px;
}

.atras {
  border-radius: 20px;
  border: 1px transparent #000;
  margin-left: 10px;
  width: 25px;
  height: 25px;

  margin-bottom: 20px;

  position: relative;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;

  box-shadow: 1px 5px 10px#00000029;
  cursor: pointer;
}
.atra,
h5 {
  color: #0f1055;
  margin-left: 10px;
}

.btn-outline-success {
  width: 150px;
  height: 35px;
  padding: 5px;
  color: #fafafa;
  border-color: #0f1055;
  background-color: #0f1055;
  margin-left: 10px;
}

.form-control {
  margin-left: 550px;
}
.btn-outline-success:hover {
  background-color: #ffffff;
  color: #0f1055;
  border-color: #0f1055;
}
.btn-outline-success:active {
  background-color: #ffffff;
  color: #0f1055;
  border-color: #0f1055;
}
.form-inline {
  margin-top: 100px;
}

.pagination {
  margin-left: 500px;
}

/*formulario de crear el proveedor*/

.overlay {
  background: rgba(0, 0, 0, 0.3);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  align-items: center;
  justify-content: center;
  display: flex;
  visibility: hidden;
}

.overlay.active {
  visibility: visible;
}

.popup {
  background: #ffffff;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
  border-radius: 3px;
  font-family: "Montserrat", sans-serif;
  padding: 20px;
  text-align: center;
  width: 600px;
  height: 550px;
  transition: 0.3s ease all;
  transform: scale(0.7);
}

.popup .btn-cerrar-popup {
  font-size: 16px;
  line-height: 16px;
  display: block;
  text-align: right;
  transition: 0.3s ease all;
  color: #ffffff;
  padding-right: 40px;
  padding-bottom: 18px;
}

.popup .btn-cerrar-popup:hover {
  color: rgb(137, 130, 168);
}

.popup h3 {
  font-size: 36px;
  font-weight: 600;
  margin-bottom: 10px;

  color: #000;
}

.popup i {
  font-size: 30px;
  border: 1px;
  border-radius: 3px;
  color: #ffffff;
  background-color: #0f1055;
  text-align: left;
  margin-top: -20px;
  margin-left: 30px;
  text-align: left;
  font-size: 15px;
  margin-left: 15px;
  
}

.popup form .contenedor-inputs {
  color: #0f1055;
}

.popup form .contenedor-inputs input {
  width: 95%;
  margin-bottom: 10px;
  height: 32px;
  font-size: 18px;
  line-height: 52px;
  text-align: left;
  border: 1px solid #bbbbbb;
  border-radius: 5px;
}

.popup form .btn-submit {
  padding: 0 20px;
  height: 40px;
  width: 150px;
  line-height: 40px;
  border: none;
  color: #fff;
  background: #0f1055;
  border-radius: 3px;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s ease all;
}

.popup form .btn-submit:hover {
  background: rgba(94, 125, 227, 0.9);
}

/* ------------------------- */
/* ANIMACIONES */
/* ------------------------- */
.popup.active {
  transform: scale(1);
  opacity: 1;
}
.popup.active h3 {
  animation: entradaTitulo 0.8s ease 0.5s forwards;
}
.popup.active h4 {
  animation: entradaSubtitulo 0.8s ease 0.5s forwards;
}
.popup.active .contenedor-inputs {
  animation: entradaInputs 1s linear 1s forwards;
}

p {
  text-align: left;
  font-size: 15px;
  margin-top: 5px;
  margin-left: 20px;
}
.group-titulo {
  margin-left: -20px;
  border: 1px;
  border-radius: 3px;
  color: #ffffff;
  background-color: #0f1055;
  margin-right: -20px;
  text-align: left;
  margin-top: -20px;
}
